body {
  background-color: white;
  max-width: 650px;
  margin: 40px auto;
  line-height: 1.6;
}
h1 {
  font-family: verdana;
  font-weight: bold;
  font-size: 2em;
  color: black;
}
h2 {
  font-family: verdana;
  font-weight: normal;
  font-size: 1.5em;
  color: black;
}
p {
  font-family: verdana;
  font-size: 1em
  color: #222222;
}
footer {
  font-family: verdana;
  font-weight: normal;
  font-size: 1.5em;
  color: black;
}
nav {
    font-size: 14px;
    font-family: georgia;
    text-align: center;
}
div {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
    background: #fb0
    background: -webkit-linear-gradient(#fb0, #950);
    background:    -moz-linear-gradient(#fb0, #950);
    background:     -ms-linear-gradient(#fb0, #950);
    background:      -o-linear-gradient(#fb0, #950);
    background:         linear-gradient(#fb0, #950);
}
