body {
  background-color: white;
  max-width: 650px;
  margin: 40px auto;
  line-height: 1.6;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
h1 {
  font-family: verdana;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4;
  color: black;
  text-align: center;
}
h2 {
  font-family: verdana;
  font-weight: normal;
  font-size: 1.5em;
  color: black;
}
p {
  font-family: verdana;
  font-size: 1em;
  color: #222222;
  text-align: justify;
}
.ptop {
  font-family: verdana;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-align: center;
}
.menu {
  line-height: 1.8;
}
.dollar {
    color: #333333;
    text-align: right;
}
.box {
  background-color: white;
  padding: 5%;
}
footer {
  font-family: verdana;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-align: center;
}

body{ cursor: url('cursor.cur'), auto;}

