body {
  background-color: white;
  max-width: 650px;
  margin: 40px auto;
  line-height: 1.6;
}
h1 {
  font-family: verdana;
  font-weight: bold;
  color: black;
}
p {
  font-family: verdana;
  color: #222222;
}
